.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

//.grid-item { width: 25%; }

// .button-group{
// 	position: relative;
// 	z-index: 100000;
// }

//  Top Level News Page


.main-news-section {
	 display: grid;
	 grid-template-columns: repeat(1, 100%);
	 gap: 1rem;
	 justify-content: center;

	//  header {
	// 	grid-column: span 2;
	//  }

	 @include mq($tablet){
		grid-template-columns: repeat(2, 50%);
	}

	@include mq($desktop){
		grid-template-columns: repeat(4, 25%);

		// header {
		// 	grid-column: span 4;
		//  }
	}

	@include mq($desktopWide){
		grid-template-columns: repeat(6, 15%);

		// header {
		// 	grid-column: span 6;
		//  }
	}
	
}

//  Individual News Pages