.page-id-26 {
    .map {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        border-radius: 27px;
        background-color: $offWhite;
        border: 3px solid $lightGreen;
        box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 35%),
            -3px -3px 10px 1px rgba(0, 0, 0, 35%);
        max-width: 56.25rem;
        position: relative;
        z-index: 2;
        margin: -4.5rem auto 0 auto;

        .map-wrapper {
            width: 100%;
            text-align: center;

            img {
                min-width: 100%;
                min-height: 100%;
                margin: 0 auto;
                border-radius: 24px;
                object-fit: cover;
            }
        }

        p {
            margin: 2rem auto 3rem auto;
            color: $darkBlue;
            max-width: 640px;
            padding: 0 1em;
        }

        @media (min-width: 33.75rem) {
            width: 80%;
            border: 3px solid $lightGreen;
        }
    }
}