// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
// @mixin column-width($numberColumns: 3) {

// 	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
// }



//   width: map-get($columns, $numberColumns) -
//     (($columns__margin * ($numberColumns - 1)) / $numberColumns);
// }

@mixin content-block($background-color) {
  background-color: $background-color;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 35%),
    -3px -3px 10px 1px rgba(0, 0, 0, 35%);
  max-width: 42.5rem;
  color: $offWhite;
  @media (min-width: 33.75rem) {
    margin: 1rem auto;
    width: 80%;
    border-radius: 27px;
    border: 3px solid $offWhite;
  }
}



// Media Queries
@mixin mq($w){
    @media(min-width: ($w)){
        @content;
    }
}

// Use it like so:
// Insert the variable of your screen size choice
// @include mq($tablet){
// 	// margin-bottom: 0;
// }

// Breakpoints
// 600px
$tablet: 37.5rem;
// 800 px
$tabletWide: 50rem;
// 1000px
$desktop: 62.5rem;
// 1000px
$desktopWide: 93.75rem;