/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  clip-path: polygon(0 15%, 100% 0, 97% 100%, 9% 88%);
  padding: 0.5rem 2rem;
  background-color: $darkBlue;
  color: $offWhite;
  text-align: center;
  h2,
  h3,
  h4 {
    color: $offWhite;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: $darkBlue;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1rem;
  background-color: $offWhite;
  display: none;
  overflow: hidden;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 35%);
  border-radius: 27px;
  border-radius: 0;
}
