// Contact Us & Vendor Sign Up
.page-id-24,
.page-id-40 {
  .content-wrapper {
    background-color: $offWhite;
    color: $darkBlue;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 35%),
      -3px -3px 10px 1px rgba(0, 0, 0, 35%);
    max-width: 42.5rem;
    border-top: 3px solid $lightGreen;
    border-bottom: 3px solid $lightGreen;
    form {
      text-align: center;
      .vendor-contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .vendor-type-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }
    }
    select,
    textarea,
    input {
      padding: 0.5rem;
      border-radius: 27px;
      border: 3px solid $darkBlue;
    }
    .wpcf7-submit {
      clip-path: polygon(0 0, 100% 20%, 98% 88%, 5% 100%);
      padding: 1rem 4rem;
      border: none;
      border-radius: 0;
      display: block;
      margin: 3rem auto 0;
      font-weight: 500;
      background-color: $darkBlue;
      color: $offWhite;
    }
    p {
      margin: 1rem;
      display: block;
    }
    @media (min-width: 33.75rem) {
      margin: 1rem auto;
      width: 80%;
      border-radius: 27px;
      border: 3px solid $lightGreen;
    }
  }
}
