.main-interior-wrapper {
    background-color: $offWhite;
    position: relative;
    margin: 2rem auto;
  
    @media (min-width: 33.75rem) {
      width: 90%;
      margin: 6rem auto;
      border: 3px solid $mediumGreen;
      border-radius: 27px;
      box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 20%),
        -3px -3px 10px 1px rgba(0, 0, 0, 20%);
    }

     // Grid Wrapper for Filter Sections
    
    section.grid-wrapper {
      padding-top: 15rem;

      @media (min-width: 33.75rem) {
      padding-top: 6rem;
      }
    }

    section.workshops-wrapper {
      margin-top: 25rem;
    }
    section.workshops-wrapper{
      

      @media (min-width: 33.75rem) {
      margin-top: 9rem;
      }
    }
}
  

 
main {
  background-color: $mediumGreen;
}