.main-interior-wrapper {
    // background-color: $offWhite;

    section.workshops-wrapper {
      margin-top: 25rem;
    }
    section.workshops-wrapper,
    section.faq-wrapper {
      

      @media (min-width: 33.75rem) {
      margin-top: 9rem;
      }
    }
}
  

 
main {
  background-color: $mediumGreen;
}